html {
    box-sizing: border-box;
  
  }
  
  *, *:before, *:after {
  
    box-sizing: inherit;
  }
  
  body {
      background-color: #2C2141;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
      font-family: Arial, Helvetica, sans-serif;
  }

  .main {
      background-color: #F8F8F8;
      border-radius: 16px;
      width: 624px;
      margin: 16px;
      padding: 32px;
  }

  .person {
      display: flex;
      align-items: flex-start;


  }

  .person__description {
      font-size: 16px;
      line-height: 22px;
      margin: 0px;
  }

  .person__description--with-margin {
      margin-bottom: 22px;
  }

  .person__info {
      margin-bottom: 24px;
  }

  .person__link {
      color: #E20613;
      text-decoration: none;
  }

  .person__name {
      font-size: 36px;
      margin: 0px;
      font-weight: normal;

  }

  .person__picture {
      margin-right: 32px;
  }

  .person__position {

    font-size: 18px;
    font-style: italic;
    color: #545454;
    margin: 0px;
  }


  .special {
      color: #ED6D05;
      font-weight: normal;
  }